<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cooking Skills</title>
</head>
<body>
  <h1>Cooking Meat Skills</h1>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
        <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
        -----
        <%= skill.yup ? 'yup' : 'nope' %> 
      </li>
    <% }) %> 
  </ul>
  <a href="/skills/new">Add Cooking Skill</a>
</body>
</html>